* {
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo, .nav-item, .hero, .section, footer {
  background-color: #dddddd;
  border: 1px solid #000000;
}

.header-flex {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-flex {
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 100px;
  width: 25%;
}

.nav-item {
  height: 50px;
  width: 150px;
  margin-left: 10px;
  justify-content: flex-end;
}

.hero {
  height: 300px;
  margin-bottom: 20px;
}

.section-flex {
  display: flex;
  justify-content: space-between;
}

.section {
  height: 150px;
  width: 30%;
}

.section-center {
  margin: 0 20px;
}

footer {
  height: 100px;
  margin-top: 20px;
}







