body {

}

.container {
  width: 960px;
  margin: 0 auto;
}

header, aside, footer, article {
  background-color: #EEEEEE;
  border: 1px solid #333333;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  height: 100%;
  width: 30%
}

header {
  width: 80%;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 70%;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.nav aside {
  width: 20%;
  height: 100%;
}

.nav-1 {
  margin-right: 15px;
}


.content-container {
  height: 700px;
  display: flex;
}

.article-1 {
  width: 20%;
  height: 700px;
}

.article-2 {
  width: 80%;
  height: 125px;
  margin-left: 30px;
}

.article-3 {
/*  width: 80%;
  height: 125px;
  margin-left: 30px;*/
}

.article-4 {
/*  width: 80%;
  height: 125px;
  margin-left: 30px;*/
}

.sub-content {
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

aside {
  height: 150px;
  display: flex;
  justify-content: space-around;
  width: 35%;
  flex-direction: row;
}

.aside-2 {
  margin-right: 20px;
}

footer {
  height: 125px;
  margin-top: 20px;
}
