body {
}

.container {
  width: 90%;
  margin: 0 auto;
}

header, aside, footer, article {
  background-color: lightgray;
  border: 1px solid darkgray;
}

header {
  height: 10vh;
  margin-bottom: 20px;
}

footer {
  height: 10vh;
  margin-top: 20px;
}

.content-container {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  /*width: 30%;*/
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 4;
}

aside {
  /*width: 30%*/
  /*flex-grow: 1;*/
  flex: 1 15%;
}